files:
  "/etc/fcrepo/repository.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
          "name" : "repo",
          "jndiName" : "",
          "workspaces" : {
              "predefined" : ["default"],
              "default" : "default",
              "allowCreation" : true,
              "cacheSize" : 10000
          },
         "clustering" : {
            "clusterName" : "modeshape-cluster"
          },
          "query" : {
            "enabled" : "false",
          },
          "storage" : {
              "persistence": {
                  "type" : "db",
                  "connectionUrl": "jdbc:postgresql://${fcrepo.postgresql.host:localhost}:${fcrepo.postgresql.port:5432}/fcrepo",
                  "driver" : "org.postgresql.Driver",
                  "username" : "${fcrepo.postgresql.username}",
                  "password" : "${fcrepo.postgresql.password}"
              },
              "binaryStorage" : {
                  "type" : "s3",
                  "username" : "${aws.accessKeyId}",
                  "password" : "${aws.secretKey}",
                  "bucketName" : "${aws.bucket}"
              }
          },
          "security" : {
              "anonymous" : {
                  "roles" : ["readonly","readwrite","admin"],
                  "useOnFailedLogin" : false
              },
              "providers" : [
                  { "classname" : "org.fcrepo.auth.common.BypassSecurityServletAuthenticationProvider" }
              ]
          },
          "garbageCollection" : {
              "threadPool" : "modeshape-gc",
              "initialTime" : "00:00",
              "intervalInHours" : 24
          },
          "node-types" : ["fedora-node-types.cnd"]
      }
  "/etc/fcrepo/jgroups-fcrepo-tcp.xml":
    mode: "000755"
    owner: root
    group: root
    content: |
<config xmlns="urn:org:jgroups" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:org:jgroups http://www.jgroups.org/schema/JGroups-3.0.xsd">
    <TCP bind_port="7800"
            loopback="false"
            recv_buf_size="${tcp.recv_buf_size:5M}"
            send_buf_size="${tcp.send_buf_size:640K}"
            max_bundle_size="64K"
            max_bundle_timeout="30"
            use_send_queues="true"
            sock_conn_timeout="300"
            timer_type="new3"
            timer.min_threads="4"
            timer.max_threads="10"
            timer.keep_alive_time="3000"
            timer.queue_max_size="500"
            thread_pool.enabled="true"
            thread_pool.min_threads="1"
            thread_pool.max_threads="10"
            thread_pool.keep_alive_time="5000"
            thread_pool.queue_enabled="true"
            thread_pool.queue_max_size="10000"
            thread_pool.rejection_policy="discard"
            oob_thread_pool.enabled="true"
            oob_thread_pool.min_threads="1"
            oob_thread_pool.max_threads="8"
            oob_thread_pool.keep_alive_time="5000"
            oob_thread_pool.queue_enabled="false"
            oob_thread_pool.queue_max_size="100"
            oob_thread_pool.rejection_policy="discard"/>
        <MPING timeout="1000"
        num_initial_members="1"/>
    <MERGE2 max_interval="30000"
            min_interval="10000"/>
        <FD_ALL timeout="150000"/>
    <VERIFY_SUSPECT timeout="150000" />
        <BARRIER />
    <pbcast.NAKACK2 use_mcast_xmit="false"
            discard_delivered_msgs="true"/>
        <UNICAST timeout="600,900,2500"/>
    <pbcast.STABLE stability_delay="2000" desired_avg_gossip="50000"
            max_bytes="4M"/>
        <pbcast.GMS print_local_addr="true" join_timeout="6000"
        view_bundling="true"/>
    <MFC max_credits="2M"
            min_threshold="0.4"/>   
        <FRAG2 frag_size="60K" />
    <pbcast.STATE_TRANSFER />
    </config>
  "/etc/fcrepo/fcrepo-config.xml":
    mode: "000755"
    owner: root
    group: root
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:context="http://www.springframework.org/schema/context"
          xmlns:task="http://www.springframework.org/schema/task"
          xmlns:p="http://www.springframework.org/schema/p"
          xmlns:c="http://www.springframework.org/schema/c"
          xmlns:util="http://www.springframework.org/schema/util"
          xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
          <!-- Master context for fcrepo4. -->
          <!-- Context that supports the actual ModeShape JCR itself -->
          <context:property-placeholder/>
          <context:annotation-config/>
          <context:component-scan base-package="org.fcrepo"/>
  "/etc/fcrepo/infinispan.xml":
    mode: "000755"
    owner: root
    group: root
    content: |
<infinispan xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="urn:infinispan:config:5.2 http://www.infinispan.org/schemas/infinispan-config-5.2.xsd"
            xmlns="urn:infinispan:config:5.2">
  <global>
      <globalJmxStatistics enabled="true" allowDuplicateDomains="true"/>
          <transport clusterName="modeshape-cluster">
        <properties>
        <property name="configurationFile" value="${fcrepo.ispn.jgroups.configuration:config/jgroups-fcrepo-tcp.xml}"/>
      </properties>
          </transport>
    </global>
      <default>
          <clustering mode="distribution">
        <sync replTimeout="600000"/>
      <l1 enabled="false" lifespan="0" onRehash="false"/>
            <hash numOwners="${fcrepo.ispn.numOwners:2}"/>
          <stateTransfer chunkSize="100" fetchInMemoryState="true"/>
      </clustering>
        </default>
  <namedCache name="FedoraRepository">
      <clustering mode="replication">
            <sync replTimeout="6000000"/>
          <l1 enabled="false" lifespan="0" onRehash="false"/>
        <stateTransfer chunkSize="100" fetchInMemoryState="true" timeout="120000"/>
    </clustering>
        <locking isolationLevel="READ_COMMITTED" writeSkewCheck="false" lockAcquisitionTimeout="150000" useLockStriping="true" />
    <transaction transactionMode="TRANSACTIONAL" lockingMode="PESSIMISTIC"/>
        <loaders passivation="false" shared="false" preload="false">
      <loader class="org.infinispan.loaders.file.FileCacheStore" fetchPersistentState="true"
                    purgeOnStartup="false">
            <properties>
              <property name="location" value="${fcrepo.ispn.repo.CacheDirPath:target/FedoraRepository/storage}"/>
                <property name="fsyncMode" value="perWrite"/>
        </properties>
      </loader>
          </loaders>
    </namedCache>
      <namedCache name="FedoraRepositoryMetaData">
          <clustering mode="distribution">
        <sync replTimeout="600000"/>
      <l1 enabled="false" lifespan="0" onRehash="false"/>
            <hash numOwners="${fcrepo.ispn.numOwners:2}"/>
          <stateTransfer chunkSize="100" fetchInMemoryState="true"/>
      </clustering>
          <locking concurrencyLevel="1000" lockAcquisitionTimeout="150000" useLockStriping="false" />
      <deadlockDetection enabled="true" spinDuration="1000"/>
          <eviction maxEntries="500" strategy="LIRS" threadPolicy="DEFAULT"/>
      <transaction
                  transactionManagerLookupClass="org.infinispan.transaction.lookup.GenericTransactionManagerLookup"
              transactionMode="TRANSACTIONAL" lockingMode="PESSIMISTIC"/>
          <loaders passivation="false" shared="false" preload="false">
        <loader class="org.infinispan.loaders.file.FileCacheStore" fetchPersistentState="true"
              purgeOnStartup="false">
              <properties>
                <property name="location" value="${fcrepo.ispn.CacheDirPath:target/FedoraRepositoryMetaData/storage}"/>
          <property name="fsyncMode" value="perWrite"/>
          </properties>
        </loader>
    </loaders>
      </namedCache>
        <namedCache name="FedoraRepositoryBinaryData">
    <clustering mode="distribution">
          <sync replTimeout="600000"/>
        <l1 enabled="false" lifespan="0" onRehash="false"/>
      <hash numOwners="${fcrepo.ispn.numOwners:2}"/>
            <stateTransfer chunkSize="100" fetchInMemoryState="true"/>
        </clustering>
    <locking concurrencyLevel="1000" lockAcquisitionTimeout="150000" useLockStriping="false" />
        <deadlockDetection enabled="true" spinDuration="1000"/>
    <eviction maxEntries="100" strategy="LIRS" threadPolicy="DEFAULT"/>
        <transaction
            transactionManagerLookupClass="org.infinispan.transaction.lookup.GenericTransactionManagerLookup"
                transactionMode="TRANSACTIONAL" lockingMode="PESSIMISTIC"/>
    <loaders passivation="false" shared="false" preload="false">
          <loader class="org.infinispan.loaders.file.FileCacheStore" fetchPersistentState="true"
                purgeOnStartup="false">
        <properties>
          <property name="location" value="${fcrepo.ispn.binary.CacheDirPath:target/FedoraRepositoryBinaryData/storage}"/>
            <property name="fsyncMode" value="perWrite"/>
            </properties>
          </loader>
      </loaders>
        </namedCache>
</infinispan>
          
	  <!-- **********************************
                              MODESHAPE configuration
                       ********************************** -->

          <!-- Authentication Not Enabled -->
          <bean name="modeshapeRepofactory"
              class="org.fcrepo.kernel.modeshape.spring.ModeShapeRepositoryFactoryBean"
              p:repositoryConfiguration="${fcrepo.modeshape.configuration}" />


          <!-- Identifier translation chain -->
          <util:list id="translationChain" value-type="org.fcrepo.kernel.api.identifiers.InternalIdentifierConverter">
              <bean class="org.fcrepo.kernel.modeshape.identifiers.HashConverter"/>
              <bean class="org.fcrepo.kernel.modeshape.identifiers.NamespaceConverter"/>
          </util:list>


          <!-- *************************************
                     JMS/Eventing Configuration
               ************************************* -->

          <!-- publishes events from the internal bus to a JMS Topic or Queue.
               "constructor-arg" for both is topic/queue name. -->

          <!--   JMS Topic -->
          <!--
          <bean class="org.fcrepo.jms.JMSTopicPublisher">
            <constructor-arg value="fedora"/>
          </bean>
          -->
          
          <!-- JMS Queue -->
          <!--
          <bean class="org.fcrepo.jms.JMSQueuePublisher">
            <constructor-arg value="fedora"/>
          </bean>
          -->

          <!-- ActiveMQ connection -->
          <!--
          <bean id="connectionFactory"
              class="org.apache.activemq.ActiveMQConnectionFactory" depends-on="jmsBroker"
              p:brokerURL="vm://${fcrepo.jms.host:localhost}:${fcrepo.dynamic.jms.port:61616}?create=false"/>
          -->
          <!-- JMS Broker configuration -->
          <!--
          <bean name="jmsBroker" class="org.apache.activemq.xbean.BrokerFactoryBean"
            p:config="${fcrepo.activemq.configuration:classpath:/config/activemq.xml}" p:start="true"/>
          -->

          <!-- translates events into JMS header-only format-->
          <bean class="org.fcrepo.jms.DefaultMessageFactory"/>

          <!-- listener that moves JCR Events to the Fedora internal event bus -->
          <bean class="org.fcrepo.kernel.modeshape.observer.SimpleObserver"/>

          <!-- used by bean above to filter which events get put on the bus -->
          <bean name="fedoraEventFilter" class="org.fcrepo.kernel.modeshape.observer.DefaultFilter"/>

          <!-- used by observer bean to map JCR events into Fedora events -->
          <bean name="fedoraEventMapper" class="org.fcrepo.kernel.modeshape.observer.eventmappings.AllNodeEventsOneEvent"/>

          <!-- Fedora's lightweight internal event bus. Currently memory-resident.-->
          <bean name="fedoraInternalEventBus" class="com.google.common.eventbus.EventBus"/>


          <!-- ***********************************
                  Internal system configuration
               *********************************** -->
          <task:scheduler id="taskScheduler" />
          <task:executor id="taskExecutor" pool-size="1" />
          <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler" />


          <!-- Start the Modeshape JCR -->
          <bean class="org.modeshape.jcr.ModeShapeEngine" init-method="start"/>

          <!-- For the time being, load annotation config here too -->
          <bean class="org.fcrepo.metrics.MetricsConfig"/>

          <bean id="connectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" />

          <!-- Generates HTTP Sessions -->
          <bean class="org.fcrepo.http.commons.session.SessionFactory"/>

      </beans>
