commands:
  install_postgres96:
    command: |
      (yum repolist | grep -q pgdg96) || sudo yum install https://download.postgresql.org/pub/repos/yum/9.6/redhat/rhel-6-x86_64/pgdg-ami201503-96-9.6-2.noarch.rpm -y
      sudo rpm -e `rpm -qa | grep postgres` || true
      sudo yum install postgresql96 -y
